* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body,
#__next {
  height: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1;
  max-width: 1184px;
  @extend .px-2, .px-2;
  @extend .mt-10;
  @include media-breakpoint-up(sm) {
    max-width: map-get($breakpoints, sm) + px;
  }
  @include media-breakpoint-up(md) {
    max-width: map-get($breakpoints, md) + px;
  }
  @include media-breakpoint-up(lg) {
    max-width: map-get($breakpoints, lg) + px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1400 + px;
  }

  @extend .mx-auto;
}
