@mixin font-size($font-size, $line-height) {
  $lh: (floor($font-size) + $line-height) + rem;
  $padding: $line-height * 0.1;
  margin-top: -$padding + rem;
  font-size: $font-size + rem;
  line-height: $lh;
  margin-bottom: 1rem + $padding;
}

@mixin create-font-sizes($base, $scale) {
  h1,
  .h1 {
    @include font-size($base + ($scale * 30), 1);
  }

  h2,
  .h2 {
    @include font-size($base + ($scale * 6), 1);
  }

  h3,
  .h3 {
    @include font-size($base + ($scale * 5), 1);
  }

  h4,
  .h4 {
    @include font-size($base + ($scale * 4), 1);
  }

  h5,
  .h5 {
    @include font-size($base + ($scale * 3), 1);
  }

  h6,
  .h6 {
    @include font-size($base + ($scale * 2), 1);
  }

  p,
  .p {
    @include font-size($base, 0.75);
  }

  a,
  .link {
    @include font-size($base, 1);
    text-decoration: none;
  }
}

@include create-font-sizes(1.05, 0.02);

@include media-breakpoint-up(md) {
  @include create-font-sizes(1.05, 0.03);
}

@include media-breakpoint-up(lg) {
  @include create-font-sizes(1.05, 0.04);
}

@include media-breakpoint-up(xl) {
  @include create-font-sizes(1.05, 0.05);
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span {
  letter-spacing: 0.3px;
  font-family: "Roboto", sans-serif;
}

// Font Styles
em {
  font-style: italic;
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
