version: "3.2"
services:
  # Service 1
  db:
    image: mysql
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: blog
      MYSQL_USER: root
      MYSQL_PASSWORD: passwd
      MYSQL_ROOT_PASSWORD: passwd
  # Service 2
  backend:
    container_name: backend
    build: ./backend
    volumes:
      - ./backend:/usr/src/backend
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    command: python3 manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
  # Service 3
  frontend:
    container_name: frontend
    build: ./frontend
    volumes:
      - ./frontend:/usr/src/frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
      - db
    command: npm run dev
