/* Settings */
@import "settings.scss";

/* Theme */
@import "base/reset.scss";
@import "base/fonts.scss";
@import "themes/dark.scss";

/* Functions */
@import "functions/map-next.scss";

/*
 * Utility 
 * Defined at the top so that they can be extended.
 */
@import "utility/img.scss";
@import "utility/text.scss";
@import "utility/margin.scss";
@import "utility/padding.scss";
@import "utility/font-weight.scss";
@import "utility/breakpoints.scss";

/* Base */
@import "base/base.scss";
@import "base/animations.scss";
@import "base/typography.scss";

/* Components */
@import "components/hero.scss";
@import "components/card.scss";
@import "components/card-horizontal.scss";
@import "components/icons.scss";
@import "components/date.scss";
@import "components/footer.scss";
@import "components/nav.scss";

/* Layout */
@import "layout/grid.scss";

/* Page */
@import "pages/home.scss";
@import "pages/article.scss";
