$dark-blue: #131217;
$white: #fff;
$border-color: #1a202c;
$footer-color: #191f2c;

html {
  font-family: Hind;
}

body {
  background-color: $dark-blue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span {
  color: $white;
}

svg[class~="svg-inline--fa"] {
  fill: white;
  color: white;
}

// components
.footer-component {
  background-color: $footer-color;
}
