.card-component__area-1 {
  grid-area: image;
}

.card-component__area-2 {
  grid-area: text;
}

.card-component {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr ;
  grid-template-areas: "image" "text";
}
