.card-row-component {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@include media-breakpoint-up(md) {
  .card-row-component {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-up(lg) {
  .card-row-component {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
