.card-component__area-1 {
  grid-area: image;
}

.card-component__area-2 {
  grid-area: text;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
}

.card-component {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 280px minmax(280px, 1fr);
  grid-template-areas: "image" "text";
}

.card-component__content {
  flex: 1;
}

.card-component__content * {
  display: none;
}

.card-component__content p:first-of-type {
  display: block;
  white-space: wrap;
  height: 6.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-component__image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
