.hero-card-component__area-1 {
  grid-area: image;
}

.hero-card-component__area-2 {
  grid-area: text;
  padding: 1rem;
}

.hero-card-component {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  grid-template-areas:
    "image"
    "text";
}

@include media-breakpoint-up(lg) {
  .hero-card-component {
    grid-template-columns: 8fr 4fr;
    grid-template-areas: "image text";
  }
}

.hero-card-component__content {
  flex: 1;
}

.hero-card-component__content * {
  display: none;
}

.hero-card-component__content p:first-of-type {
  display: block;
  white-space: wrap;
  height: 10.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-component__image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
