version: "3.2"
services:
  # Service 1
  db:
    image: mysql
    container_name: db
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - ../database/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    env_file:
      - .env
  # Service 2
  backend:
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    command:
      [
        "./wait-for-it.sh",
        "db:3306",
        "--",
        "python3",
        "manage.py",
        "runserver",
        "0.0.0.0:8000",
      ]

  # Service 3
  frontend:
    depends_on:
      - backend
      - db
    env_file:
      - .env
    command: ["./wait-for-it.sh", "backend:8000", "--", "npm", "run", "dev"]

  # Service 4
  nginx:
    depends_on:
      - frontend
      - backend
      - db
    env_file:
      - .env
    command: ["nginx", "-g", "daemon off;"]
